---
layout: default
---

<div class="list-outer">
  <h1 class="list-title">Archive</h1>

  {% assign last_year = "" %}
  {% for post in site.posts %}
    {% assign cur_year = post.date | date: "%Y" %}
    {% if cur_year != last_year %}
      {% unless forloop.first %}</ul>{% endunless %}
      <p class="archive-year">{{ cur_year }}</p>
      <ul class="post-list">
      {% assign last_year = cur_year %}
    {% endif %}

    <li class="post-list-item">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <time>{{ post.date | date: "%m. %d" }}</time>
    </li>

    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
