---
layout: default
---

<div class="list-outer">
  <h1 class="list-title">
    <i class="far fa-folder-open fa-fw"></i>
    {{ page.title }}
    <span style="font-size:16px; font-weight:400; color:var(--text-m);">{{ page.posts | size }}개</span>
  </h1>

  <ul class="post-list">
    {% for post in page.posts %}
      <li class="post-list-item">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <time>{{ post.date | date: "%Y. %m. %d" }}</time>
      </li>
    {% endfor %}
  </ul>
</div>
